html {
  scroll-behavior: smooth;
}

.two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.two-lines-fix-height {
  height: 48px;
}

.text-red-theme {
  color: #d17c78;
}

.border-red-theme {
  border-color: #d17c78;
}

.d-none {
  display: none !important;
}

.thumbnail-home {
  height: 225px;
  object-fit: cover;
  object-position: center;
}

.content-home {
  margin-bottom: 20px !important;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}

.label-info {
  background-color: #5bc0de;
}

textarea {
  resize: none;
}

.empty-div-200 {
  height: 200px;
}

.btn-like {
  border: none !important;
  margin-top: 20px !important;
  outline: none !important;

  i {
    color: red;
    font-size: 40px;
  }
}

#btn-cancel-reply, #btn-cancel-edit {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
