.two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.two-lines-fix-height {
  height: 48px;
}

.text-red-theme {
  color: #d17c78;
}

.border-red-theme {
  border-color: #d17c78;
}

.d-none {
  display: none !important;
}
